*~
*/.libs
*/*.o
*/*.lo
*/*.la
.deps/
fastboot/fastboot
mkbootimg/mkbootimg
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
fastboot/.deps/
fastboot/Makefile
fastboot/Makefile.in
install-sh
libmincrypt/.deps/
libmincrypt/Makefile
libmincrypt/Makefile.in
libtool
libzipfile/.deps/
libzipfile/Makefile
libzipfile/Makefile.in
ltmain.sh
missing
mkbootimg/.deps/
mkbootimg/Makefile
mkbootimg/Makefile.in
stamp-h1
